---
import { themeConfig } from '~/.config'
import LayoutDefault from '~/layouts/LayoutDefault.astro'
import type { Post } from '~/types'
import { formatDate, getCategories, getPathFromCategory } from '~/utils'

export async function getStaticPaths() {
  const categoryMap = await getCategories()
  return Array.from(categoryMap).map(([key, value]) => {
    const path = getPathFromCategory(key, themeConfig.site.categoryMap)
    return {
      params: { category: path },
      props: { posts: value, name: key },
    }
  })
}

const { posts, name } = Astro.props

function getListItems(posts: Post[]) {
  const result = posts.map((post) => ({
    title: post.data.title,
    href: `/posts/${post.slug}/`,

    date: formatDate(post.data.pubDate, "MM-DD"),
    year: formatDate(post.data.pubDate, "YYYY"),
    month: formatDate(post.data.pubDate, "M"),
    day: formatDate(post.data.pubDate, "D"),

  }))
  return result
}

const { translate: t } = Astro.locals;

---

<LayoutDefault>
  <div class="prose" flex="~ col">
    <h2 class="post-title-prose">{name}</h2>

  <section>
    <ul class="pl-6 list-none m-0" flex="~ col">
      {
        getListItems(posts).map(({ title, href, year, month, day }) => (
          
        <li class="font-article">
                <time class="text-3.5">
                  {t('in', (year))}

                  {t('month', (month))}
                  {t('day', (day))}
                  </time>
                <span class="post-title-list pl-1.75 text-4"><a href={href}>{title}</a></span>
              </li>
            ))}

          </ul>
        </section>
  </div>
</LayoutDefault>
