---
import LayoutDefault from "~/layouts/LayoutDefault.astro";
---

<LayoutDefault>
    <section class="prose font-article">
        <h3>당신의 마지막 편지는 언제인가요?</h3>

        <p>알지도 못하는 이들을 손가락으로 열심히 훑어 내립니다. 그렇게 곁에 있는 이들은 조용히 사라져  갑니다.</p>

        <time class="text-4 mb-24">2024년 가을, 적도 아래서 씀</time>

        <h6>저작권 안내</h6>

        <p class="text-3.5">
            이 사이트는 다양한 공개 저작물을 활용해 만들었습니다. 저작권자가
            함께 배포한 이용 조건에 따라 아래와 같이 저작물 정보와 원저작자를
            밝힙니다. 사이트의 제작과 관리에는 아스트로(Astro)를 사용합니다.
            각 페이지의 디자인은 공개 테마인 타이포그래피(Typography)를 일부 수정해
            적용했습니다. 글꼴은 경기천년바탕을 제목으로, 세종학당 본문체를 본문에 썼으며 한자는 한글재민체를 나머지는 Noto Sans Korean을 사용했습니다. 기타 저작물 및
            저작권에 문의사항이 있을 경우 사이트 관리자(<a
                href="mailto:i@failed.life">i@failed.life</a
            >)에게 알려 주세요.
        </p>
        <h6>각 저작물의 출처</h6>
        <ul class="text-3.5 list-square">
            <li>
                아스트로(Astro) 공식 홈페이지; <a
                    target="_blank"
                    href="https://astro.build/">https://astro.build</a
                >
            </li>
            <li>
                <a target="_blank" href="https://moeyua.com">Moeyua</a>가 제작한 Typography 테마의 소개 페이지;  <a
                    target="_blank"
                    href="https://astro.build/themes/details/typography/"
                    >https://astro.build/themes/details/typography/</a
                >
                <li>
                    <a
                        target="_blank"
                        href="https://www.gg.go.kr/contents/contents.do?ciIdx=679&menuId=2457"
                        >경기천년바탕</a
                    > / <a
                        target="_blank"
                        href="https://www.ksif.or.kr/com/cmm/EgovContentView.do?menuNo=10101260"
                        >세종학당 본문체</a
                    > / 구글의 <a
                        target="_blank"
                        href="https://fonts.google.com/noto/specimen/Noto+Sans+KR"
                        >Noto Sans Korean</a
                    > 소개 페이지
                </li>
            </li>
        </ul>
    </section>
</LayoutDefault>
