---
import LayoutDefault from "~/layouts/LayoutDefault.astro";
---

<LayoutDefault>
    <section class="prose font-article">
        <h3>편지가 있으라-</h3>
        
        <p>
            어쩌면, 그러니까 혹시, 모든 글의 시작은 편지가 아니었을까? 우리가 말을 틔우고 글을 쓴 이유가 어쩌면 너무 아픈 사랑을 버틸 수 없어, 그도 아니라면 사무치는 그리움을 견디지 못해서는 아니었을까? 사무친다는 말, 그립다는 말이 혹여 지루할까 이리저리 둘러댄 말에 새벽 공기와 바다내음과 들판 위 바람 
            개울 속 이무기와 눈밭 위 산신령이 태어난 곳은 어쩌면 호롱불 아래 좁다란 편지 한 켠이 아니었을까?
        </p>

        <h4>종이는 너무 비싸다</h4>

        <p>
            아마도 아닐테다. 평범한 이가 한껏 제 마음을 써내려 가기에 종이는 너무 귀한 사치품이었다. 오죽하면 궁에서조차 종이를 물에 씻어 말린 뒤 다시 썼을까. 앤 셜리가 길버트의 머리를 내리칠 때도 손에 들려 있던 물건은 값이싼 종이 공책이 아닌 석판이었다.
        </p>

        <img alt="Thwack! - M.A. and W.A.J. Claus" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Thwack%21_-_M.A._and_W.A.J._Claus.jpg/1024px-Thwack%21_-_M.A._and_W.A.J._Claus.jpg?20160503234157" class="sepia-50">

        <p>알지도 못하는 이들을 손가락으로 열심히 훑어 내립니다. 그렇게 곁에 있는 이들은 조용히 사라져  갑니다.</p>

        <time class="text-4 mb-24">2024년 가을, 적도 아래서 씀</time>

        <h6>저작권 안내</h6>

        <p class="text-3.5">
            이 사이트는 다양한 공개 저작물을 활용해 만들었습니다. 저작권자가
            함께 배포한 이용 조건에 따라 아래와 같이 저작물 정보와 원저작자를
            밝힙니다. 사이트의 제작과 관리에는 아스트로(Astro)를 사용합니다.
            각 페이지의 디자인은 공개 테마인 타이포그래피(Typography)를 일부 수정해
            적용했습니다. 글꼴은 경기천년바탕을 제목으로, 세종학당 본문체를 본문에 썼으며 한자는 한글재민체를 나머지는 Noto Sans Korean을 사용했습니다. 기타 저작물 및
            저작권에 문의사항이 있을 경우 사이트 관리자(<a
                href="mailto:i@failed.life">i@failed.life</a
            >)에게 알려 주세요.
        </p>
        <h6>각 저작물의 출처</h6>
        <ul class="text-3.5 list-square">
            <li>
                아스트로(Astro) 공식 홈페이지; <a
                    target="_blank"
                    href="https://astro.build/">https://astro.build</a
                >
            </li>
            <li>
                <a target="_blank" href="https://moeyua.com">Moeyua</a>가 제작한 Typography 테마의 소개 페이지;  <a
                    target="_blank"
                    href="https://astro.build/themes/details/typography/"
                    >https://astro.build/themes/details/typography/</a
                >
                <li>
                    <a
                        target="_blank"
                        href="https://www.gg.go.kr/contents/contents.do?ciIdx=679&menuId=2457"
                        >경기천년바탕</a
                    > / <a
                        target="_blank"
                        href="https://www.ksif.or.kr/com/cmm/EgovContentView.do?menuNo=10101260"
                        >세종학당 본문체</a
                    > / 구글의 <a
                        target="_blank"
                        href="https://fonts.google.com/noto/specimen/Noto+Sans+KR"
                        >Noto Sans Korean</a
                    > 소개 페이지
                </li>
            </li>
        </ul>
    </section>
</LayoutDefault>
