---
import LayoutDefault from "~/layouts/LayoutDefault.astro";
---

<LayoutDefault>
    <section class="prose font-article text-4.5">
        <h4>당신의 마지막 편지는 언제인가요?</h4>

        <p>
            편지가 달갑지 않습니다. 컴퓨터로 내 이름을 찾아 적으며 <strong
                >"보고 싶네"</strong
            >라고 되뇌이는 이가 있을까요? 우리를 더욱 가까운 사이로 만들어 주리라 믿었던 휴대전화와 컴퓨터. 하지만 우리는 정말 가까워졌나요? 혹시 그저 
        </p>
        <time class="text-4">2024년 가을에 씀</time>
    </section>
</LayoutDefault>
