---
import type { Post } from "~/types";
import { formatDate } from "~/utils";
import PostCategory from "./PostCategory.astro";

interface Props {
  post: Post;
}

const { post } = Astro.props;
const { translate: t } = Astro.locals;

// const categoryList = post.data.categories ?? []
---

<div flex="~ col gap-2">
  <h2 class="post-title-list font-bold font-header">
    <a class="not-prose" href={`/posts/${post.slug}/`}>{post.data.title}</a>
  </h2>
</div>
