---
import PostMeta from "~/components/PostMeta.astro";
import PostMetaRelative from "~/components/PostMetaRelative.astro";
import type { Post } from "~/types";

interface Props {
  post: Post;
}

const { post } = Astro.props;
---

<article class="prose text-4.5"> 
  <PostMeta post={post}/>
  <div class="font-article break-keep mb-15"><slot /></div>
  <PostMetaRelative post={post} />
</article>
