---
// import PostMeta from "~/components/PostMeta.astro";
import PostMetaRelative from "~/components/PostMetaRelative.astro";
import type { Post } from "~/types";

interface Props {
  post: Post;
}

const { post } = Astro.props;
---

<article class="prose text">
  <!-- <PostMeta post={post} /> -->

  <div flex="~ col gap-2">
    <h2 class="post-title-prose">{post.data.title}</h2>
  </div>

  <div class="font-article break-keep mb-15"><slot /></div>
  <PostMetaRelative post={post} />
</article>
